@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
  
}

#list-title {
  padding-bottom: 60px;
}

#list-title h1 {
  font-size: 120px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-family: "Mitr", sans-serif;
}

#list-title h2 {
  font-size: 20px;
  font-family: "Mitr", sans-serif;
}

#list-tab-content .tab-pane {
  display: none;
}

#list-tab-content .tab-pane.active {
  display: flex;
}

#list-tab {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#list-tab a {
  padding: 20px 70px;
  border-top: #c1c1c1 3px solid;
  text-decoration: none;
  color: #9b9b9b;
  font-weight: 500;
  font-size: large;
  font-family: "Mitr", sans-serif;
}

#list-tab a.active {
  border-top: #494949 3px solid;
  color: #1f1f1f;
}

#list-home-carousel {
  width: 100%;
  overflow: hidden;
}

#list-home-carousel img {
  height: 470px;
  width: 100%;
  object-fit: cover;
}

#list-home {
  display: flex;
  flex-direction: row;
}

#list-home .text {
  width: 100%;
  padding: 20px;
  background-color: #494949;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; /* สำคัญเพื่อให้ padding ไม่เกินขอบ */
  font-family: "Mitr", sans-serif;
}

#list-home .text h1 {
  font-size: 27px; /* ขนาดปกติ */
  padding-bottom: 10px;
}

#list-home .text p {
  font-size: 17px; /* ขนาดปกติ */
  line-height: 1.5;
}

@media (max-width: 768px) {
  #list-home .text h1 {
    font-size: 20px; /* ขนาดเล็กลงสำหรับแท็บเล็ต */
  }

  #list-home .text p {
    font-size: 14px; /* ขนาดเล็กลงสำหรับแท็บเล็ต */
  }
}

@media (max-width: 576px) {
  #list-home .text h1 {
    font-size: 13px; /* ขนาดเล็กลงสำหรับมือถือ */
  }

  #list-home .text p {
    font-size: 10px; /* ขนาดเล็กลงสำหรับมือถือ */
    line-height: 1.4;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #list-home .text p {
      font-size: 15px;
  }
  #list-messages img {
    height: 350px;
    width: 420px;
  }

  .img-grid img {
    height: 200px;
  }

  
 
}





#list-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Mitr", sans-serif;
}

#list-profile .text {
  width: 100%;
  padding: 20px;
  background-color: #494949;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#list-profile h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

#list-profile .text p {
  font-size: 1px;
  line-height: 1.5;
}

#list-profile h2 {
  font-size: 13px;
}

#list-profile img {
  width: 2rem;
  height: 30px;
  object-fit: cover;
}

@media (max-width: 768px) {
  #list-profile h1 {
    font-size: 14px;
  }

  #list-profile h2 {
    font-size: 10px;
  }

  #list-profile img {
    width: 1.7rem;
    height: 30px;
    
  }

  #list-profile .text p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #list-profile h1 {
    font-size: 13px;
  }

  #list-profile h2 {
    font-size: 10px;
  }

  #list-profile img {
    width: 1.8rem;
    height: 30px;
  }

  #list-profile .text p {
    font-size: 10px;
    line-height: 1.4;
  }

  #list-profile .text {
    padding: 10px;
  }
}

#list-tab-message {
  display: flex;
  flex-direction: column;
  font-family: "Mitr", sans-serif;
}

#list-messages .text {
  width: 100%;
  padding: 20px;
  background-color: #494949;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#list-messages .text h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

#list-messages .text p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  #list-messages h1 {
    font-size: 10px;
  }

  #list-messages button {
    font-size: 10px;
  }

  #list-messages div {
    font-size: 10px;
  }

  #list-messages .text p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #list-messages h1 {
    font-size: 10px;
  }

  #list-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    
  }

  #list-messages button {
    font-size: 10px;
  }

  #list-messages div {
    font-size: 10px;
  }

  #list-messages .text p {
    font-size: 10px;
    line-height: 1.4;
  }

  #list-messages .text {
    padding: 10px;
  }
}

#list-messages .image img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}

@media (max-width: 768px) {
  #list-messages img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 576px) {
  #list-messages img {
    height: 1000px;
    width: 200px;
  }
}

@media (max-width: 376px) {
  .accordion-button {
    font-size: 0.9rem; /* Adjust button text size */
  }
  
  .accordion-body {
    font-size: 0.85rem; /* Adjust body text size */
  }

  #image-display {
    width: 100%; /* Ensure the image takes full width */
    height: auto; /* Maintain aspect ratio */
  }
  

  .tab-pane {
    padding: 1rem; /* Add padding for better spacing */
  }
  #list-messages img {
    height: 250px;
    width: 400px;
    padding: 0 2.5rem;
  }

}


.img-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

.img-grid img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.Main_image {
  height: 500px;
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
}

.modal-content {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px solid #333;
}

.modal-title {
  color: #fff;
  font-family: "Mitr", sans-serif;
}

.btn-close {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close img {
  width: 30px;
  height: 30px;
}

.preview-images {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-left: 10px;
}

.preview-images img {
  cursor: pointer;
  margin: 0 5px;
}

.footer-thumbnail {
  width: auto;
  height: 100px;
  transition: border 0.3s;
}

.active-thumbnail {
  border: 3px solid red;
}

.modal-body img {
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  background: none;
  border: none;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 30px;
  height: 30px;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* Media Queries for Responsive Design */

/* สำหรับหน้าจอขนาดแท็บเล็ต */
@media (max-width: 768px) {
  .img-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    justify-content: center;
  }

  .img-grid img {
    height: 100px;
  }
  .img-grid .img-fluid {
    height: 200px; /* ลดขนาดความสูงของรูปภาพ */
    width: 250px; /* รูปภาพจะปรับขนาดตามความกว้างของเนื้อหา */
    flex-shrink: 0; /* ป้องกันไม่ให้รูปภาพหดตัว */
    max-height: 150px;
  }
  .Main_image {
    height: 508px;
    max-height: 200px;
    object-fit: cover;
    display: none; /* ลดขนาดความสูงของรูปภาพหลัก */
  }

  
}

/* สำหรับหน้าจอขนาดมือถือ */
@media (max-width: 576px) {
  .img-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    justify-content: center;
  }
  .accordion-button{
    padding: 5px;
  }

  .img-grid .img-fluid {
    height: 150px; /* ลดขนาดความสูงของรูปภาพ */
    width: auto; /* รูปภาพจะปรับขนาดตามความกว้างของเนื้อหา */
    flex-shrink: 0; /* ป้องกันไม่ให้รูปภาพหดตัว */
    max-height: 100px;
  }

  .Main_image {
    height: 508px;
    max-height: 200px;
    object-fit: cover;
    display: none; /* ลดขนาดความสูงของรูปภาพหลัก */
  }

  .modal-header {
    padding: 10px; /* ลดขนาด padding ของหัวข้อ modal */
  }

  .modal-title {
    font-size: 18px; /* ลดขนาดตัวอักษรของหัวข้อ modal */
  }
}


/* Styles for Mobile Devices (<= 576px) */
@media (max-width: 576px) {
  #list-title h1 {
    font-size: 50px;
  }

  #list-title h2 {
    font-size: 16px;
  }

  #list-tab a {
    padding: 5px 10px;
    font-size: medium;
    font-size: 14px;
  }

  #list-home-carousel img {
    height: 200px;
  }

  #list-home .text {
    width: 100%;
    padding: 10px;
  }

  #list-profile {
    flex-direction: column;
    padding: 0 10px;
  }

  #list-profile .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #list-profile .profile img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #list-messages img {
    height: 250px;
    width: 400px;
    

  }

  .img-grid {
    grid-template-columns: 1fr;
  }

  .img-grid img {
    height: 100px;
  }

  .footer-thumbnail {
    height: 40px;
  }
}

@media (max-width: 380px) {
  #list-title h1 {
    font-size: 40px;
  }

  #list-title h2 {
    font-size: 14px;
  }

  #list-tab a {
    padding: 3px 8px;
    font-size: 10px;
  }
  #list-home .text p {
    font-size: 8px;
  }
  #list-home .text h1 {
    font-size: 11.4px;
  }
}
/* Styles for Tablet Devices (> 576px and <= 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  #list-title h1 {
    font-size: 60px;
  }

  .search__image__container {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 2rem;
}

  #list-title h2 {
    font-size: 16px;
  }

  #list-tab a {
    padding: 10px 20px;
    font-size: large;
  }

  #list-home-carousel img {
    height: 300px;
  }

  #list-home .text {
    width: 60%;
    padding: 20px;
  }

  #list-profile {
    flex-direction: column;
    padding: 0 20px;
  }

  #list-profile .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #list-profile .profile img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #list-messages img {
    height: 250px;
  }

  .img-grid {
    grid-template-columns: 2fr 1fr;
  }

  .img-grid img {
    height: 150px;
  }

  .footer-thumbnail {
    height: 60px;
  }
}

/* Styles for Desktop Devices (> 768px) */
@media (min-width: 769px) {
  #list-title h1 {
    font-size: 100px;
  }
  

  #list-title h2 {
    font-size: 18px;
  }

  #list-tab a {
    padding: 15px 50px;
    font-size: large;
  }

  #list-home-carousel img {
    height: 470px;
  }

  #list-home .text {
    width: 50%;
    padding: 30px;
  }

  #list-profile {
    flex-direction: row;
    padding: 0 100px;
  }

  #list-profile .profile {
    flex-direction: row;
  }

  #list-profile .profile img {
    margin-right: 20px;
  }

  #list-messages img {
    height: 400px;
  }

  .img-grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .img-grid img {
    height: 250px;
  }

  .footer-thumbnail {
    height: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .search__image__container {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}
