.details1 {
    position: relative;
    width: 100%;
    padding: 20px;
   
    margin-top: 10px;
  }
  .tablebody{
    
  }
  
  
  .details1 .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin: 17rem;
    margin-top: 2rem;
  }
  
  .details1 .cardHeader {
    
    justify-content: space-between;
    align-items: center;
    

  }
  
  .cardHeader h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue1);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  .btn:hover {
    background: var(--blue);
  }
  .details1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details1 table thead td {
    font-weight: 600;
  }
  .details1 .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details1 .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .details1 .recentOrders table tbody tr:hover {
    background: var(--brown);
    color: var(--white);
  }
  .details1 .recentOrders table tr td {
    padding: 10px;
    text-align: center;
  }
  .cardHeader a{
    color: #000;
    text-decoration: none;

  }