.details2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.recentOrders {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}
  
  .cardHeader h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue1);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  .btn:hover {
    background: var(--blue);
  }
  .details1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details1 table thead td {
    font-weight: 600;
  }
  .details1 .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details1 .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .details1 .recentOrders table tbody tr:hover {
    background: var(--brown);
    color: var(--white);
  }
  .details1 .recentOrders table tr td {
    padding: 10px;
    text-align: center;
  }
  .cardHeader a{
    color: #000;
    text-decoration: none;

  }
  .tablebody {
    width: 100%;
    border-collapse: collapse;
}
th{
  color: #000;
}

.tablebody th, .tablebody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tablebody th {
    background: #f4f4f4;
}

.tablebody tr:hover {
    background: #f1f1f1;
}

.actions a {
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
}
.actions a:hover {
  text-decoration: underline;
}
.btn {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #0056b3;
}

.tbody a {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;

}
table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #007bff;
  color: white;
}

table th, table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

    